# Can be obtained from http://www.omdbapi.com/
OA_OMDB_API_KEY=

# Can be obtained from https://openweathermap.org/
OA_OPENWEATHER_API_KEY=

# Can be obtained from https://www.thetvdb.com/
OA_TVDB_API_KEY=
